<div class="row compact">          
  <div class="input-field col s12">                
    <input id="parcel-name" type="text" class="active" data-bind="value: session.shipment.parcel.reference"></input>
    <label for="parcel-name">Enter a reference to save this parcel</label>
  </div>
</div>
<div class="row compact">          
  <div class="input-field col s12">                
    <input id="parcel-length" type="text" class="active" data-bind="value: session.shipment.parcel.length"></input>
    <label for="parcel-length">Length (inches)</label>
  </div>
</div> 
<div class="row compact">
  <div class="input-field col s12">
    <input id="parcel-width" type="text" class="active" data-bind="value: session.shipment.parcel.width"></input>
    <label for="parcel-width">Width (inches)</label>
  </div>
</div>
<div class="row compact">
  <div class="input-field col s12">
    <input id="parcel-height" type="text" class="active" data-bind="value: session.shipment.parcel.height"></input>
    <label for="parcel-height">Height (inches)</label>
  </div>
</div>
<div class="row compact">
  <div class="input-field col s12">
    <input id="parcel-weight" type="text" class="active" data-bind="value: session.shipment.parcel.weight"></input>
    <label for="parcel-weight">Weight (ounces)</label>
  </div>
</div>