<section>
    <div class="row">
      <h2 data-bind='text: displayName'></h2>  
    </div>
    <div class="row">
      <div class="preloader-wrapper big active" data-bind="visible: loading">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

      <div class="card-panel" data-bind="visible: errormessage">An error occurred, please try again or contact the administator if this persists</div>

      <table data-bind="visible: table" class="responsive-table striped">
        <thead>
          <tr>
              <th data-field="id">Id</th>
              <th data-field="reference">Reference</th>
              <th data-field="length">Length</th>
              <th data-field="width">Width</th>
              <th data-field="height">Height</th>
              <th data-field="weight">Weight (oz)</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody data-bind="foreach: parcels">
          <tr>
            <td data-bind="text: id"></td>
            <td data-bind="text: reference"></td>
            <td data-bind="text: length"></td>
            <td data-bind="text: width"></td>
            <td data-bind="text: height"></td>
            <td data-bind="text: weight"></td>
            <td><a class="waves-effect waves-light btn">Delete</a>
              &nbsp;&nbsp;&nbsp;<a data-bind="attr: { href: '#/quote?parcel=' + id }" class="waves-effect waves-light btn">Ship this</a></td>
          </tr>
        </tbody>
      </table>
    </div>
            
</section>