<div class="row">
  <div class="col l4 m12">
    <div class="row compact">
      <blockquote>
        <h4>From</h4>
      </blockquote>
    </div>
    <div class="row compact">
      <p data-bind="html: session.shipment.from_address.asText()"></p>
      <a class="waves-effect waves-light btn" data-bind="click: session.shipment.edit"><i class="material-icons">mode edit</i>Change</a>
    </div>
  </div>
  <div class="col l4 m12">
    <div class="row compact">
      <blockquote>
        <h4>To</h4>
      </blockquote>
    </div>
    <div class="row compact">
      <p data-bind="html: session.shipment.to_address.asText"></p>
      <a class="waves-effect waves-light btn" data-bind="click: session.shipment.edit"><i class="material-icons">mode edit</i>Change</a>
    </div>
  </div>
  <div class="col l4 m12">
    <div class="row compact">
      <blockquote>
        <h4>Package</h4>
      </blockquote>
    </div>
    <div class="row compact">
      <p data-bind="html: session.shipment.parcel.asText"></p>
      <a class="waves-effect waves-light btn" data-bind="click: session.shipment.edit"><i class="material-icons">mode edit</i>Change</a>
    </div>
  </div>
</div>
<div class="row">
  <!-- ko foreach: { data: session.shipment.rates, as: 'quote' } -->
    <div data-bind="compose: { view:'partials/ratecard.html' }"></div>
  <!-- /ko -->
</div>