<div>
    <nav>
      <div class="nav-wrapper">
          <a href="#" class="left hide-on-med-and-down brand-logo"> <img src="images/parcelmagiclogo.png" height="60" width="240"></a>
          <a href="#" class="left hide-on-large-only"><i class="material-icons">home</i></a>
          
          <ul class="right hide-on-med-and-down" data-bind="foreach: router.navigationModel">
            <li data-bind="css: { active: isActive }"><a data-bind="attr: { href: hash }, text: title"></a></li>
          </ul>

          <a class="right hide-on-large-only" data-bind="click: toggleMenu"><i class="material-icons">menu</i></a>

          <ul class="side-nav" id="mobile-menu" style="left: 0 !important; display: none" data-bind="foreach: router.navigationModel">
            <li data-bind="css: { active: isActive }"><a data-bind="click: $parent.toggleMenu, attr: { href: hash }, text: title"></a></li>
          </ul>
        </div>
    </nav>

    <div class="page-host" data-bind="router: { transition:'entrance' }"></div>            
</div>        