<section>
    <div class="row">
      <h2 data-bind='text: displayName'></h2>  
    </div>
    <div class="row">

      <div class="preloader-wrapper big active" data-bind="visible: loading">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

      <div class="card-panel" data-bind="visible: errormessage">An error occurred, please try again or contact the administator if this persists</div>

      <table data-bind="visible: table">
        <thead>
          <tr>
              <th data-field="id">Id</th>
              <th data-field="from_name">From</th>
              <th data-field="to_name">To</th>
              <th data-field="method">Method</th>
              <th data-field="amount">Amount</th>
              <th data-field="tracking">Tracking</th>
          </tr>
        </thead>

        <tbody data-bind="foreach: parcels">
          <tr>
            <td data-bind="text: from_address.name"></td>
            <td data-bind="text: to_address.name"></td>
            <td data-bind="text: method"></td>
            <td data-bind="text: amount"></td>
            <td><a href=""><span data-bind="text: tracking"></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
            
</section>