<section>
    <div class="row">
      <h2 data-bind='text: displayName'></h2>  
        <div class="col l6 s12 m12">
          <p class="flow-text">Parcelmagic is the easiest way to access commercial shipping rates, print labels, and keep track of your packages.</p>
        </div>
    </div>
    <div class="row">
      <div class="col l3 s12 m6">
        <div class="card teal lighten-2">
          <div class="card-content white-text">
            <span class="card-title">Shipping Quotes</span>
            <p>Get shipping quotes from available carriers</p>
          </div>
          <div class="card-action">
            <a href="#quote">Get a quote</a>
          </div>
        </div>
      </div>
      <div class="col l3 s12 m6">
        <div class="card indigo lighten-2">
          <div class="card-content white-text">
            <span class="card-title">Saved Parcels</span>
            <p>Manage saved parcels</p>
          </div>
          <div class="card-action">
            <a href="#parcels">View my saved packages</a>
          </div>
        </div>
      </div>
      <div class="col l6 s12 m12">
        <div class="card green darken-1">
          <div class="card-content white-text">
            <span class="card-title">Shipping History</span>
            <p>Access shipping history</p>
          </div>
          <div class="card-action">
            <a href="#shipping">View my history</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <form class="col s12"> 
        <div class="input-field col s4">
          <input id="tracking" type="text">
          <label for="tracking">Tracking number</label>
        </div>
        <a class="waves-effect waves-light btn-large"><i class="material-icons left"></i>Track</a>
        
      </form>
    </div>   
            
</section>